@page
@model VideoGameLibrary.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>Logging Out...</h1>
    <p>You have been successfully logged out.</p>
    <form id="logoutForm" class="form-inline" method="post">
        <button type="submit" class="nav-link btn btn-link text-dark">Click here to Log out</button>
    </form>
</header>