@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Video Game Library</h1>
    <p>This website is a small collection of video games with the ability to loan them!</p>
</div>
