@page
@model VideoGameLibrary.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VideoGame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VideoGame.Title" class="control-label"></label>
                <input asp-for="VideoGame.Title" class="form-control" />
                <span asp-validation-for="VideoGame.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.Platform" class="control-label"></label>
                <select asp-for="VideoGame.Platform" class="form-control"></select>
                <span asp-validation-for="VideoGame.Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.Genre" class="control-label"></label>
                <input asp-for="VideoGame.Genre" class="form-control" />
                <span asp-validation-for="VideoGame.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.ESRBRating" class="control-label"></label>
                <select asp-for="VideoGame.ESRBRating" class="form-control"></select>
                <span asp-validation-for="VideoGame.ESRBRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.Year" class="control-label"></label>
                <input asp-for="VideoGame.Year" class="form-control" />
                <span asp-validation-for="VideoGame.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.Image" class="control-label"></label>
                <input asp-for="VideoGame.Image" class="form-control" />
                <span asp-validation-for="VideoGame.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.LoanedTo" class="control-label"></label>
                <input asp-for="VideoGame.LoanedTo" class="form-control" />
                <span asp-validation-for="VideoGame.LoanedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoGame.LoanedDate" class="control-label"></label>
                <input asp-for="VideoGame.LoanedDate" class="form-control" />
                <span asp-validation-for="VideoGame.LoanedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
