@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @{
        var username = User.FindFirst(ClaimTypes.Email)?.Value;
    }
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" href="/Account/Manage" title="Manage">Hello @username!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" method="post" asp-page="/Account/Logout">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" href="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" href="/Account/Login">Login</a>
        </li>
    }
</ul>